/* 

*/


* {
    background-color: blanchedalmond;
}
.contact-section {
    max-width: 800px;
    margin-left: 35%;
    /* background-color: #fff; */
    padding: 10px;
    /* border-radius: 10px; */
    /* box-shadow: 0px 0px 10 #fff; */
  }
  
  .inf-section {
    display: flex;
    flex-wrap: wrap;
  }
  
  .left-inf {
    flex: 1;
  }
  
  .form {
    margin-top: 20px;
  }
  
  .input-element,
  .select,
  .textarea-element {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid red;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .passfields {
    position: relative;
  }
  
  .fa-regular {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .genderx {
    margin-bottom: 15px;
  }
  
  .btn-submit {
    width: 100%;
    padding: 12px;
    background-color: #a12c2c;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color: #1d2c3d;
  }
  
  .error-text {
    margin-top: 5px;
    font-size: 14px;
    color: red;
  }
  
  @media only screen and (min-width: 768px) {
    .inf-section {
      justify-content: space-between;
    }
  
    .left-inf {
      flex: 0 0 48%;
    }
  
    .form-element {
      width: 48%;
    }
  
    .form-elements {
      width: 100%;
    }
  }
  